<!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Anton%7CCinzel+Decorative%7CElsie%7CElsie+Swash+Caps%7CLibre+Barcode+39+Extended%7CMilonga%7COregano%7CLato" rel="stylesheet">
  </head>
  <title>Decider</title>
 
 <div id = "back">
   <a href="/">
     <h4>Back</h4>
   </a>
 </div>
 
  <div id= "graphic">
    <img width= "541px" height= "408px" padding top: "20px" src="https://mail.google.com/mail/u/0/?ui=2&ik=1f2dd17004&view=fimg&th=1644c8334f41ef00&attid=0.5&disp=emb&realattid=ii_jj08cpm50_1644c830dd604ae4&attbid=ANGjdJ8cZm_pp7336OIsSlbJwtximG3Hu_EgiII8FE2O6UZvuquA_May0BOn97XTn7eGTwQHZQaCgc793kHJ9eyGmV8S9YFNHqH35RrQzkhllBJsgldE9lV1OoqHDAk&sz=w1082-h812&ats=1530292025316&rm=1644c8334f41ef00&zw&atsh=1" />
    </div>
    <div id="abtus"
    <p>This website was created by Maya, Paikea and Priscilla.  We wanted to make this website because we thought it would be useful to have a random generator to help make our decisions when we cannot.  For example, while making our website, we could not pick what style we wanted our button in so we used our random generator to help us decide.</p>
    </div>
   
  </html>
