<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Cinzel+Decorative|Elsie|Elsie+Swash+Caps|Libre+Barcode+39+Extended|Milonga|Oregano|Lato" rel="stylesheet">
    <title>Decider</title>
  </head>
  
  <div id = "abtpg">
     <a href="/about">
        <h5>About us</h5>
      </a>
  </div>
  
  <body>
		  <section = 'about'>
		    <p>
		      Welcome!
		      <br>
		      This is a website that will help cure <br>your indecisiveness.
		    </p>
		    
		    <a href="/number">
		      <img width= "200px" height= "200px" src="https://mail.google.com/mail/u/0/?ui=2&ik=8923a2cb2c&view=fimg&th=164484f8e123fc22&attid=0.2&disp=emb&realattid=ii_jiz2dt3i0_164484f6d09ff54b&attbid=ANGjdJ-Ttq4omR-8iAmvXMV0zrM0gbVNQqDimHncYjzmj_W6O7jrvWlsHoEgUcSMk7TS_nEzJx4jt6gnJyxxO5BDX1CNcdbTizY2n-oK0l_uwLtJfS5rlPNCUw7BkLk&sz=w944-h944&ats=1530227084622&rm=164484f8e123fc22&zw&atsh=1" />
		      </a>
		  </section>
		  </p>
		  <footer id = "foot">
		    <p>WARNING<br>
		    Do not use this website to help with importatnt life choices. This is a random generator which is not based on life experience.
		   </footer>
  </body>
</html>
