<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Cinzel+Decorative|Elsie|Elsie+Swash+Caps|Libre+Barcode+39+Extended|Milonga|Oregano|Lato" rel="stylesheet">
    <title>Decider</title>
  </head>
  <br>
  <form method="POST" action="/choices">
    How many choices do you have?<br>
    <p><input type = "text" name="num" style =" height: 50px; font-size: 40px;" ><p></p>
    <br>
    
  </form>
  
</html>
